semester-1/Discrete-math/main.aux
semester-1/Discrete-math/main.out
semester-1/Discrete-math/main.fdb_latexmk
semester-1/Discrete-math/main.toc
semester-1/Discrete-math/main.fls
semester-1/Discrete-math/main.log

semester-1/Graph-theory/main.aux
semester-1/Graph-theory/main.out
semester-1/Graph-theory/main.fdb_latexmk
semester-1/Graph-theory/main.toc
semester-1/Graph-theory/main.fls
semester-1/Graph-theory/main.log

semester-1/Linear-Algebra/main.aux
semester-1/Linear-Algebra/main.out
semester-1/Linear-Algebra/main.fdb_latexmk
semester-1/Linear-Algebra/main.toc
semester-1/Linear-Algebra/main.fls
semester-1/Linear-Algebra/main.log

semester-1/Informatics/main.aux
semester-1/Informatics/main.out
semester-1/Informatics/main.fdb_latexmk
semester-1/Informatics/main.toc
semester-1/Informatics/main.fls
semester-1/Informatics/main.log

semester-1/OПД/main.aux
semester-1/OПД/main.out
semester-1/OПД/main.fdb_latexmk
semester-1/OПД/main.toc
semester-1/OПД/main.fls
semester-1/OПД/main.log

semester-1/Calculus/main.aux
semester-1/Calculus/main.out
semester-1/Calculus/main.fdb_latexmk
semester-1/Calculus/main.toc
semester-1/Calculus/main.fls
semester-1/Calculus/main.log

semester-1/Programming/main.aux
semester-1/Programming/main.out
semester-1/Programming/main.fdb_latexmk
semester-1/Programming/main.toc
semester-1/Programming/main.fls
semester-1/Programming/main.log
